@layout RootLayout
@inherits LayoutComponentBase
@using Blazorise.TreeView

@if (_showSlider)
{
    <Slider TValue="int" Value="@_width1" Max="@_width2" ValueChanged="@SliderValueChanged" />
}

<Layout Sider="true">
    <LayoutSider>
        <LayoutSiderContent>
            <Bar @ref="@sidebar" Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark"
                 Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Hide">
                <BarBrand>
                    <BarItem>
                        <BarLink To="">
                            <BarIcon IconName="customIcon" />
                            Nexar.Design <Badge Color="Color.Primary">Demo</Badge>
                        </BarLink>
                    </BarItem>
                </BarBrand>
                <BarMenu>
                    <BarStart>
                        @if (AppData.TreeNodes == null)
                        {
                            <BarItem>
                                <BarLink To="">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignInAlt" />
                                    Connect
                                </BarLink>
                            </BarItem>
                        }
                        else
                        {
                            <BarLabel>Workspaces</BarLabel>
                            <TreeView TNode="TreeNode" Nodes="AppData.TreeNodes"
                                      GetChildNodes="@(item => item.Nodes)"
                                      HasChildNodes="@(item => item.Nodes.Count > 0)"
                                      ExpandedNodesChanged="@ExpandedNodesChanged"
                                      SelectedNodeChanged="@SelectedNodeChanged">
                                <NodeContent>
                                    @if (context.Name == null)
                                    {
                                        <Button Loading="true" Type="ButtonType.Link">Loading...</Button>
                                    }
                                    else
                                    {
                                        <Icon Name="@context.Icon" Margin="Margin.Is1" />
                                        @context.Name
                                    }
                                </NodeContent>
                            </TreeView>
                        }
                    </BarStart>
                </BarMenu>
            </Bar>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed="true">
            <Bar @bind-Visible="@topbarVisible" Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
                <BarToggler Bar="@sidebar" />
                <BarBrand>
                    <BarItem>
                        <BarLink To="">
                            Nexar.Design <Badge Color="Color.Primary">Demo</Badge>
                        </BarLink>
                    </BarItem>
                </BarBrand>
                <BarToggler />
                <BarMenu>
                    <BarStart>
                        <BarItem>
                            <BarDropdown>
                                <BarDropdownToggle><Icon Name="IconName.Wrench" /></BarDropdownToggle>
                                <BarDropdownMenu>
                                    <BarDropdownItem Clicked="@ResizeClicked">
                                        Resize panels
                                    </BarDropdownItem>
                                </BarDropdownMenu>
                            </BarDropdown>
                        </BarItem>
                    </BarStart>
                    <BarEnd>
                        <BarItem>
                            <BarLink To="https://github.com/NexarDeveloper/web-design-demo-blazor" Title="GitHub repository" Target="Target.Blank">GitHub</BarLink>
                        </BarItem>
                        <BarItem>
                            <BarLink To="@AppData.NexarDotCom" Title="Nexar home page" Target="Target.Blank">nexar.com</BarLink>
                        </BarItem>
                    </BarEnd>
                </BarMenu>
            </Bar>
        </LayoutHeader>
        <LayoutContent Padding="Padding.Is3.OnX">
            @Body
        </LayoutContent>
    </Layout>
</Layout>

@code{
    RenderFragment customIcon =@<img src="/brand.png" style="width:32px; height: 32px" />;
}
